@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$very_dark_blue: hsl(234, 12%, 34%);
$grayish_blue: hsl(229, 6%, 66%);
$very_light_gray: hsl(0, 0%, 98%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins, sans-serif;
    font-size: 15px;
}

body {
    background-color: $very_light_gray;
    padding: 2rem 2rem;
}