main {

    @media screen and (min-width: $break-desktop){
        display: grid;
        grid-template-areas: "card-supervisor card-team-builder card-calculator"
                             "card-supervisor card-karma card-calculator";
        justify-content: center;
        align-items: center;
        grid-gap: 2rem;
    }

    .card {
        width: 100%;
        max-width: 315px;
        height: 30vh;
        position: relative;
        padding: 2rem;
        margin: 0 auto 2rem auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px 5px 30px rgba($grayish_blue, 0.5);
        overflow: hidden;

        @media screen and (min-width: $break-desktop) {
            margin: 0;
        }

        .card__content {
            position: relative;
            width: 100%;
            height: 100%;

            h2 {
                font-size: 1.2rem;
            }   
    
            p {
                font-size: .9rem;
            }    
            
            &--supervisor:after {
                content: '';  
                @include card-icon(icon-supervisor);
            }           

            &--team-builder:after {
                content: '';  
                @include card-icon(icon-team-builder);
            }
            
            &--karma:after {
                content: '';  
                @include card-icon(icon-karma);
            }

            &--calculator:after {
                content: '';  
                @include card-icon(icon-calculator);
            }
        }       
    }

    .card--supervisor {
        grid-area: card-supervisor;

        &:before {
            content: '';            
            @include card-line-top($cyan);
        }        
    }

    .card--team-builder {
        grid-area: card-team-builder;

        &:before {
            content: '';            
            @include card-line-top($red);
        }
    }

    .card--karma {
        grid-area: card-karma;

        &:before {
            content: '';            
            @include card-line-top($orange);
        }
    }

    .card--calculator {
        grid-area: card-calculator;

        &:before {
            content: '';            
            @include card-line-top($blue);
        }
    }
}

