header {
    width: 90%;
    margin: 2rem auto;
    text-align: center;

    h2 {
        font-size: 1.5rem;
        font-weight: 200;
    }

    h1 {
        font-size: 1.8rem;
        p {
            font-size: 1rem;
        }
    }
}



