header {
    width: 100%;    
    max-width: 500px;
    margin: 4rem auto;
    text-align: center;

    h2 {
        font-size: 1.7rem;
        font-weight: 200;
    }

    h1 {
        font-size: 1.7rem;          
        margin-bottom: .5rem;
    }

    @media screen and (min-width: $break-desktop) {
        margin: 2rem auto 4rem;

        h2 {
            font-size: 2.2rem;
        }

        h1 {
            font-size: 2.2rem;
        }
    }
}



